Package: latitude-e7440-battery-nut-bridge
Version: 1.x-dev
Section: utils
Priority: optional
Architecture: all
Maintainer: curtistinkers <curtistinkers.commit@gmail.com>
Depends: coreutils, grep, awk, systemd, nut-server, nut-client
Description: Virtual Network UPS Tools (NUT) bridge for Dell Latitude E7440.
 Automatically translates internal ACPI battery capacity and line states
 into a dummy-ups device.
